langchain
langchain-pymupdf4llm
langchain-community
langchain-experimental
langchain-openai
langchain-google-genai
python-dotenv
pytest
pytest-csv-params
pynfe
pynfe[nfse]
unstructured
xmltodict
pdf2image
google-generativeai